<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="iiiwave.MatManLib.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <iiiwave.MatManLib.Properties.Settings>
            <setting name="PlanGrouping" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="FunctionExecutionType" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="MaximumBatchSize" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="MinimumBatchSize" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="SAPClient" serializeAs="String">
                <value />
            </setting>
            <setting name="SAPLanguage" serializeAs="String">
                <value />
            </setting>
            <setting name="SAPSystemNumber" serializeAs="String">
                <value />
            </setting>
            <setting name="SAPHost" serializeAs="String">
                <value />
            </setting>
            <setting name="CalculateOn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DisconnectTimerInterval" serializeAs="String">
                <value>1500</value>
            </setting>
            <setting name="UserRefreshTimerInterval" serializeAs="String">
                <value>1500</value>
            </setting>
            <setting name="SAPSystemID" serializeAs="String">
                <value />
            </setting>
        </iiiwave.MatManLib.Properties.Settings>
    </userSettings>
  <system.runtime.caching>
    <memoryCache>
      <namedCaches>
        <add name="default"
             cacheMemoryLimitMegabytes="0"
             pollingInterval="00:02:00" />
      </namedCaches>
    </memoryCache>
  </system.runtime.caching>
</configuration>